<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include 'categorias/conteudo_head.html' %}
    <title>Gastronomia</title>
  </head>
  <body>
    {% include 'categorias/conteudo_navbar.html' %}
    <h1 style="font-size: 50px; text-align: center; padding: 30px;">Gastronomia</h1>

    <!-- ////////////////// caroucel carousel////////////// -->

    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/media/images/categorias/CULINARIA/g1.jpg" class="d-block w-100" alt="Imagem 1" />
        </div>
        <div class="carousel-item">
          <img src="/media/images/categorias/CULINARIA/g2.jpg" class="d-block w-100" alt="Imagem 2" />
        </div>
        <div class="carousel-item">
          <img src="/media/images/categorias/CULINARIA/g3.jpg" class="d-block w-100" alt="Imagem 3" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>

    <div class="description">
      <h2>Primeiros Instantes: A Magia do Início da Vida</h2>
      <p>Retratando a doçura, a pureza e os detalhes que tornam cada novo começo inesquecível</p>
    </div>

    <!-- Cards -->
    <div class="photo-section">
      <div class="photo-card">
        <img src="/media/images/categorias/CULINARIA/g4.jpg" alt="Main Photo" class="main-photo" />
        <a href="link-to-photographer-page.html" class="photographer-card">
          <img src="/media/images/categorias/casamento/icon_card01_casamento.png" alt="Photographer" class="photographer-photo" />
          <span class="photographer-name">Nome do Fotógrafo</span>
        </a>
      </div>
      <div class="photo-card">
        <img src="/media/images/categorias/CULINARIA/g4.jpg" alt="Main Photo" class="main-photo" />
        <a href="link-to-photographer-page.html" class="photographer-card">
          <img src="/media/images/categorias/casamento/icon_card02_casamento.png" alt="Photographer" class="photographer-photo" />
          <span class="photographer-name">Nome do Fotógrafo</span>
        </a>
      </div>
      <div class="photo-card">
        <img src="/media/images/categorias/CULINARIA/g5.jpg" alt="Main Photo" class="main-photo" />
        <a href="link-to-photographer-page.html" class="photographer-card">
          <img src="/media/images/categorias/casamento/icon_card01_casamento.png" alt="Photographer" class="photographer-photo" />
          <span class="photographer-name">Nome do Fotógrafo</span>
        </a>
      </div>
      <div class="photo-card">
        <img src="/media/images/categorias/CULINARIA/g6.jpg" alt="Main Photo" class="main-photo" />
        <a href="link-to-photographer-page.html" class="photographer-card">
          <img src="/media/images/categorias/casamento/icon_card02_casamento.png" alt="Photographer" class="photographer-photo" />
          <span class="photographer-name">Nome do Fotógrafo</span>
        </a>
      </div>
      <div class="photo-card">
        <img src="/media/images/categorias/CULINARIA/g7.jpg" alt="Main Photo" class="main-photo" />
        <a href="link-to-photographer-page.html" class="photographer-card">
          <img src="/media/images/categorias/casamento/icon_card01_casamento.png" alt="Photographer" class="photographer-photo" />
          <span class="photographer-name">Nome do Fotógrafo</span>
        </a>
      </div>
      <div class="photo-card">
        <img src="/media/images/categorias/CULINARIA/g8.jpg" alt="Main Photo" class="main-photo" />
        <a href="link-to-photographer-page.html" class="photographer-card">
          <img src="/media/images/categorias/casamento/icon_card02_casamento.png" alt="Photographer" class="photographer-photo" />
          <span class="photographer-name">Nome do Fotógrafo</span>
        </a>
      </div>
      <div class="photo-card">
        <img src="/media/images/categorias/CULINARIA/g9.jpg" alt="Main Photo" class="main-photo" />
        <a href="link-to-photographer-page.html" class="photographer-card">
          <img src="/media/images/portifolio_casamento/icon_card01_casamento.png" alt="Photographer" class="photographer-photo" />
          <span class="photographer-name">Nome do Fotógrafo</span>
        </a>
      </div>

      <div class="photo-card">
        <img src="/media/images/categorias/CULINARIA/g10.jpg" alt="Main Photo" class="main-photo" />
        <a href="link-to-photographer-page.html" class="photographer-card">
          <img src="/media/images/categorias/casamento/icon_card02_casamento.png" alt="Photographer" class="photographer-photo" />
          <span class="photographer-name">Nome do Fotógrafo</span>
        </a>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="footer-wave"></div> <!-- Opcional -->

      <div class="footer-container">
        <div class="footer-info">
          <a href="#" class="footer-logo">PixelSingular</a>
        </div>

        <div class="footer-social">
          <h4 class="social-title">Nossas Redes</h4>
          <div class="social-links">
            <a href="#" class="social-link facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-link instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-link whatsapp"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>

        <div class="footer-creators">
          <p>© 2023 PixelSingular. Todos os direitos reservados.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
