<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"> 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_profissional.css' %}">
    <!-- Referência ao arquivo JavaScript -->
    <script src="{% static 'javascript/login_form_profissional_script.js' %}" defer></script>
    <title>Login/Cadastro ProfissionalPJ</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form id="login-form" method="POST" action="{% url 'loga_profPJ' %}">
                {% csrf_token %}
                <h1>Login</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                </div>
                <div class="input_login">
                    <input name="email" type="email" placeholder="Email" 
                    required>
                    <i class='bx bxs-envelope'></i>
                </div>

                <div class="input_login">
                    <input name="senha" type="password" placeholder="senha" 
                    required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <a href="recuperar_senha.html">Esqueceu sua senha?</a>
                <button type="submit">Entrar</button>
                <p class="mobile-toggle">Não tem uma conta? <span class="toggle-link" id="mobile-register">Cadastre-se</span></p>
            </form>
        </div>
        <div class="form-container sign-up">
            <form id="form-send" method="POST" action="{% url 'cadastra_profPJ' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Cadastre-se</h1>
                <div class="form-group">
                    <input class="field-half" name="razao_social" type="text" placeholder="Razão Social" required>
                    <input class="field-half" name="cnpj" id="cnpj" type="text" maxlength="18" placeholder="CNPJ" required>
                    <input class="field-half" name="nome" type="text" placeholder="Nome Completo" required>
                    <input class="field-half" name="telefone" type="tel" placeholder="(XX) XXXXX-XXXX" maxlength="15" required>
                    <input class="field-half" name="email" id="email" type="email" placeholder="Email" required>
                    <input class="field-half" id="confirmar_email" type="email" placeholder="Confirmar Email" required>

                    <input class="field-thirsty" name="cep" id="cep" type="text" placeholder="CEP"required>
                    <input class="field-thirsty" name="estado" id="estado" type="text" placeholder="Estado"required>
                    <input class="field-thirsty"  name="cidade" id="cidade" type="text" placeholder="Cidade"required>

                    <input class="field-thirsty"  name="logradouro" id="logradouro" type="text" placeholder="Logradouro"required>
                    <input class="field-thirsty" name="bairro" id="bairro" type="text" placeholder="Bairro"required>
                    <input class="field-thirsty" name="numero" type="text" placeholder="Nº"required>

                    <input class="field-half" name="senha" type="password" placeholder="Senha"required>
                    <input class="field-half" type="password" placeholder="Confirmar Senha"required>


                    <select class="field-half" name="raio_atendimento" id="raio_atendimento" name="raio_atendimento" required>
                        <option value="">Raio de Atendimento</option>
                        <option value="10km">Até 10km</option>
                        <option value="20km">Até 20km</option>
                        <option value="50km">Até 50km</option>
                        <option value="20km">Até 70km</option>
                        <option value="100km">Até 100km</option>
                        <option value="km_livre">Atendimento após orçamento</option>
                        <option value="0km">Atendimento online</option>
                    </select>
                                                           
                    <input class="input_bigger" name="link_instagram" type="url"
                    placeholder="Link do Instagram" maxlength="100">

                    <textarea class="field-full" name="descricao" 
                    placeholder="Fotógrafo, faça uma descrição que aparecerá no seu perfil..."></textarea> 
                  
                    <div class="file-input-container">
                        <label class="image_perfil">Escolha a imagem do seu perfil:</label>
                        <input id="image_perfil" name="imagem_perfil" type="file" accept="image/*" required>
                    </div>
                    
                                      
                    <div class="termos">
                        <input type="checkbox" id="termos" required>
                        <label for="termos">Aceitar os termos de cadastro de acordo com a LGPD</label>
                    </div>          

                </div>    
                
                <button type="submit">Enviar</button>
                <p class="mobile-toggle">Já tem uma conta? <span class="toggle-link" id="mobile-login">Entrar</span></p>
            </form>
            
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Caro Fotógrafo!</h1>
                    <p>Para entrar na sua conta, clique no botão abaixo.</p>
                    <button class="hidden" id="login">Login</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Olá, Fotógrafo!</h1>
                    <p>Faça seu cadastro em nosso site exclusivo para fotógrafos e tenha a chance de divulgar seu trabalho, alcançar novos clientes e fazer parte de uma rede que valoriza a sua arte.</p>
                    <button class="hidden" id="register">Cadastrar</button>
                </div>
            </div>
        </div>
        <div id="mensagemSucesso" class="mensagem-sucesso" style="display:none;">Cadastro concluído com sucesso!
        </div>
    </div>
    <!-- Carregar a URL dinamicamente -->
    <script>
        // A constante "cad_Url" recebe a URL gerada pelo Django, ou seja, o valor gerado é atribuído a variável JavaScript cad_Url.
        const cad_Url = "{% url 'cadastra_profPJ' %}";

        // A constante "log_Url" recebe a URL gerada pelo Django, ou seja, o valor gerado é atribuído a variável JavaScript log_Url.
        const login_Url = "{% url 'login_profPJ_page' %}";  
        
        // Procedimento similar aos anteriores
        const logar_Url = "{% url 'loga_profPJ' %}";
    </script>
</body>

</html>